body {
	font: 14px/1.5em "Lucida Grande", "Lucida Sans Unicode";
	color: black;
	background: white;
}

h1, h2 {
	color: orange;
}

h3, h4, h5 {
    color: #0080FF;
}

a {
	color: #AABF73;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.full_background {
	display: block;
	width: 100%;
	height: 100%;
}

/* Site ID tags */

#header {
	padding: 1em;
}

#content {
	margin: 5px 10% 10% 10%;
}

#content_body {
	margin: 1em;
}

#footer {
	text-align: center;
	margin: 10px;
}

#footer > span {
	color: #b4866b;
}

#navigation {
	display: block;
	text-align: center;
}

#navigation a {
	padding: 3px;
}

#blurb {
	margin: 2em;
}

#blurb.p {

}

#posts {
	margin: 2em;
}

.post {
	margin: 2em;
}

.post_date {
	font-weight: bold;
}

.post_summary {
	padding: 0.5em;
}

p.intro:first-letter {
	font-weight: bold;
	font-size: 1.5em;
}

/* Personal information box */
.information {
	display: block;
	text-align: center;
}

.name {
	font-size: larger;
	font-weight: bold;
}

/* Resume Data */

.section_title {

}

.section_detail {
	display: block;
	margin: 10px;
}

.work_box {
	display: block;
	margin: 10px;
}

.employer_data {
	display: block;
	font-weight: bolder;
	font-size: 1.2em;
	margin: 10px;
}

.job_data {
	display: block;
	margin: 10px;
}